/* 
    Document   : unseen
    Created on : 28/02/2012, 11:01:35 AM
    Author     : Simon Elvery
    Description: Demonstration of the responsive tables method described at 
				 http://www.irishstu.com/stublog/2011/12/13/tables-responsive-design-part-2-nchilds/
				 and
				 http://filamentgroup.com/lab/responsive_design_approach_for_complex_multicolumn_data_tables/
*/

#unseen 

